<!DOCTYPE html>
<html>
<head>
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Peptide Match</title>

    <link rel="apple-touch-icon" sizes="57x57" href="static/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="static/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="static/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="static/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="static/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="static/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="static/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="static/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="static/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="static/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="static/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

     <!-- Fontawesome glyicons -->
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


     <!-- Global site tag (gtag.js) - Google Analytics -->
     <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141011967-1"></script>
     <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());
 
     gtag('config', 'UA-141011967-1');
     </script>
     
    
</head>
<body>
<center>
    <div style="font-family: inherit; font-size: 22px; font-weight: bold">Peptide Match</div>
    <div style="font-family: inherit; font-size: 16px; font-weight: 100;">Match a peptide to a protein and locate a PTM site</div>
</center>

<br>
<div class="container" style="margin: auto; position: relative;">
    <div class="row">
        <div class="col">
            </div>
        <div class="col-10">
            <div style="background:#fff; padding: 10px 20px; border: 1px solid #dddddd; border-radius: 3px;">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}  alert-dismissible fade show" role="alert">
                            <div style="font-family: inherit; font-size: 14px;"> {{ message }}</div>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col">
                            <div style="font-family: inherit; font-size: 14px;">
                                {% block content %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            </div>
    </div>
</div>

<br>
<br>

<footer class="page-footer">
    <!-- Footer Links -->
    <div class="container">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-lg-2 col-md-10 mx-auto">
            <!-- Content -->
            <p class="p-footer" style="display: inline">
                <img src="/static/ying.jpeg" class="footer-image" alt="Ying Li, Ph.D." height="24" width="24">&nbsp;By ying with <i class="fas fa-heart" style="font-size: 12px;color: #444444; pointer-events:none;"></i>
            </p>        
            <br>     
            </div>
        <!-- Grid column -->
        </div>
      <!-- Grid row -->
      </div>
    
</footer>

    
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>